* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Playfair Display', serif;
	font-size: 12px;	
}
/*HeaderMenu*/
.mainHeader {
    background: #b4c8e3;
    height: 90px;
    width: 100%;
	position: fixed;
}
.logo {
	width: 80px;
	margin-top: 10px;
	margin-left: 150px;
}
.navigation {
	position: relative;
}
.navigation ul {
	position: absolute;
	top: -78px;
	right: 20px;
}
.navigation li {
	display: inline-block;
	list-style-type: none;
    line-height: 80px;
	margin: 0 10px;
}
.navigation a {
	text-decoration: none;
	color: black;
	font-size: 18px;
	text-transform: uppercase; /*velikost*/
	padding: 7px 13px;
	border-radius: 3px;
}
a.active, a:hover {
    background-color: #606160;
	color: white;
    transition: background-color 0.5s;
}
.checkicon {
	position: absolute;
	right: 20px;
    top: -78px; 
    font-size: 30px;
    color: #fff;
    line-height: 80px;
    margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
    display: none;
}
/*Background Header*/
.background {
	background-image: url(../img/background1.jpg);
	height: 100vh;
	width: 100%;
	background-attachment: fixed; /*fixed img pri scrolling*/
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position: top;*/ 
	display: flex;
  	align-items: center;
}
.header-box {
	/* position: absolute; 
	top: 30%;
	right: 75%;*/
	margin-left: 10%;
	text-align: center;
	color: black;
}

.btn:link, .btn:visited {
	display: inline-block;
	margin-top: 20px;
	padding: 15px 40px;
    color:  black;
    letter-spacing: 2px;
    border: 2px solid #606160;
    border-radius: 3px;
    background-color: #b4c8e3;
    text-transform: uppercase;
    text-decoration: none;
	transition: all .5s;
	animation: fromLeft 1s linear;
}
.btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px #ae9959;
	transition: all .5s;

}
.btn-kontakt:link, .btn-kontakt:visited {
	display: inline-block;
	margin-top: 20px;
	padding: 15px 40px;
    color:  black;
    letter-spacing: 2px;
    border: 2px solid #606160;
    border-radius: 3px;
    background-color: #b4c8e3;
    text-transform: uppercase;
    text-decoration: none;
	transition: all .5s;
	animation: fromLeft 2s linear;
	
}
.btn-kontakt:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px #ae9959;
	transition: all .5s;

}
/*Homu Copanky*/
.about {
	background: white;
	padding: 44px 0px;
	margin-top: -50px;
	display: flex;
	justify-content: space-around;
}
.about-photo {
    width: 30%;
    /*margin: 0 auto;*/
    border-radius: 5px;
	animation: fromDown 2s linear;
}
.about-photo img {
	width: 90%;
	padding-left: 90px;
	margin-top: 50px;
}
.about-me {
	font-size: 18px;
    padding-top: 0px;
}
.about-me p {
	margin-top: 10px;
    font-size: 15px;
    line-height: 40px;
    margin-right: 60px;
    text-align: justify;
}
/*Blog*/
.blog-header {
	text-align: center;
	font-size: 35px;
	margin-bottom: 30px;
}
.blog {
	display: flex;
  	flex-direction: row;
  	height: 100%;
	  text-align: justify;
}
.child-blog {
	width: 45%;
	margin-left: 15px;
	margin-right: 15px;
  }
.blog img {
	vertical-align: middle;
    float: left;
    width: 150px;
    height: 150px;
}
.blog p {
	display: inline;
	font-size: 15px;
    line-height: 10px;
	text-align: justify;
}
.blog h3 {
	font-size: 20px;
}
.btn-blog {
	/*display: inline-block;*/
	float: right;
	margin-top: 2px;
	padding: 5px 20px;
    color:  black;
    letter-spacing: 2px;
    border: 1px solid #b4c8e3;
    border-radius: 3px;
    background-color: #fbdcc0;
    text-transform: uppercase;
    text-decoration: none;
}
.btn-blog:hover {
    background: #b4c8e3;
	color: black;
}
/*Kontakt*/
.kontakt-header {
	text-align: center;
	font-size: 35px;
	margin-bottom: 30px;
	margin-top: 30px;
}
.kontakt {
	background: #b4c8e3;
	display: flex;
	flex-flow: row nowrap;
}
.box {
	width: 500px;
	padding: 10px;
}
.box input[type="text"], .box input[type="email"], textarea {
	background: none;
	margin: 10px auto;
	text-align: center;
	border: 3px solid #606160;
	padding: 15px 10px;
	width: 100%;
	color: black;
	border-radius: 3px;
	outline: none;
}
.box input[type="submit"] {
	background: none;
	display: block;
	margin: 0 auto;
	text-align: center;
	border: 2px solid #605160;
	padding: 15px 40px;
	width: 100%;
	outline: none;
	color: black;
	border-radius: 3px;
	text-transform: uppercase;
	cursor: pointer; /*ручечка*/
}
.box input[type="submit"]:hover {
	background: #fbdcc0;
	color: black;
}
.kontakt-mapa {
	width: 48%;
	margin: 20px;

}
.kontakt-form {
	width: 35%;
}



@keyframes fromTop {
	0% {
		opacity: 0;
		transform: translateY(-30px);

	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes fromDown {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes fromLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fromRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}